    <body style="background-size: cover; height: 95.8vh; width: 98.5vw; text-align: center; text-align: down;" background="./../../../assets/317764184_690249502586474_8948383456222696427_n.jpg">   
        <br>
        <br>
        <br>
        <br>
        <img src="https://i.pinimg.com/1200x/b2/6c/a4/b26ca492213553fc939e581e15694c73.jpg" width="200px" height="200px">
        <br>
        <br>
        <br>
        <br>
        <br>
        <button (click)="menu()"><img width="200" height="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaQpv0x0FmEmkjxYbonUKr-AzdeMYXcf9xIw&usqp=CAU"></button>
    </body>
    