.uwu{
    display: flex;
    flex-direction: row;
    padding: 6vw;

}
.uno{
    position: relative;
    transform: translate(26%, 125px);
}
.contenedor{
    width: 47vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 140px 90px;
    position: relative;
    transform: translate(40%, 10px);

}
.boton{
    width: 190px;
}
