<body style="background-size: cover; height: 95.8vh; width: 98.7vw;" background="./../../../assets/pantalla_juego_3.jpg">
    <h1 style="color: aliceblue;">NUMERO 3</h1>
    <div class="uwu">
        <p style="text-align: left;" class="uno"><img src="https://thumbs.dreamstime.com/b/caricatura-cactus-n%C3%BAmero-con-n%C3%BAmeros-de-ni%C3%B1os-letras-flores-figura-tres-verde-251930043.jpg" width="250px" height="250px">
        </p>
        <div class="contenedor">
        <button (click)="correcto='INCORRECTO'" class="a" class="boton"><img width="180" height="180" src="../../../../assets/unoUwU.png"></button>
        <button (click)="correcto='INCORRECTO'" class="b" class="boton"><img width="180" height="180" src="../../../../assets/dosUwU.png"></button>
        <button (click)="correcto='CORRECTO'" class="c" class="boton"><img width="180" height="180" src="../../../../assets/tresUwU.png"></button>
        <button (click)="correcto='INCORRECTO'" class="d" class="boton"><img width="180" height="180" src="../../../../assets/cuatroUwU.png"></button>
        </div>
        <br>
    </div>
    <a style="color: aliceblue; background-color: rgb(7, 150, 119); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{correcto}}</a>


    <br>
    <br>
    <br>
    <button (click)="menu()" style="text-decoration:none; padding: auto; font-weight: 600; font-size: 50px; color: rgb(0, 0, 0); background-color: aqua; border-radius: 6px; border: 2px solid #0016b0;"><img src="https://download.tomtom.com/open/manuals/new_GO/html/es-mx/drivehome.png" width="50px"></button>
    <button (click)="Juegotres2()" style="text-decoration:none; padding: auto; font-weight: 600; font-size: 50px; color: rgb(0, 0, 0); background-color: aqua; border-radius: 6px; border: 2px solid #0016b0;">Volver</button>
</body>
