<nav class="navbar navbar-expand-lg">
    <div class="container-fluid" style="background-color: rgb(200, 241, 249);">
      <a class="navbar-brand" href="#">
        <img src="https://w7.pngwing.com/pngs/658/353/png-transparent-arrow-green-glossy-left-rewind-back-backward-undo-backwards-green-arrow-thumbnail.png" alt="Bootstrap" width="30" height="24">
      </a>

      <div class="navbar-nav">
          <a class="navbar-link" routerLink="/productos/inicio" routerLink="/productos/menujuegos"></a>
        </div>
        <audio controls src="../assets/Estrellita Dónde Estás  - Karaoke.mp3" autoplay loop class="audio"></audio>
    </div>
    
</nav>
<router-outlet></router-outlet>
