<body style="background-size: cover; height: 95.8vh; width: 98.7vw;" background="./../../../assets/pantalla_juego_1.jpg">
    <h1>NUMERO 7</h1>
    <div class="uwu">
    <p style="text-align: left;" class="uno"><img src="https://static.vecteezy.com/system/resources/previews/009/660/783/non_2x/cartoon-cactus-number-7-with-flower-font-kids-numbers-green-figure-sevencartoon-cactus-number-7-with-flower-font-kids-numbers-green-figure-seven-vector.jpg" width="250px" height="250px">
    </p>
        <div class="contenedor">
        <button (click)="correcto='INCORRECTO'" class="a" class="boton"><img width="180" height="180" src="../../../../assets/juego1perrito.png"></button>
        <button (click)="correcto='INCORRECTO'" class="b" class="boton"><img width="180" height="180" src="../../../../assets/juego1perritos2.png"></button>
        <button (click)="correcto='CORRECTO'" class="c" class="boton"><img width="180" height="180" src="../../../../assets/juego1perritos3.png"></button>
        <button (click)="correcto='INCORRECTO'" class="d" class="boton"><img width="180" height="180" src="../../../../assets/juego1perritos4.png"></button>
        </div>
        <br>
    </div>
    {{correcto}}
    <br>
    <br>
    <br>
    <button (click)="menu()" style="text-decoration:none; padding: auto; font-weight: 600; font-size: 50px; color: rgb(0, 0, 0); background-color: aqua; border-radius: 6px; border: 2px solid #0016b0;"><img src="https://download.tomtom.com/open/manuals/new_GO/html/es-mx/drivehome.png" width="50px"></button>
    <!-- <button (click)="Juegouno1()" style="text-decoration:none; padding: auto; font-weight: 600; font-size: 50px; color: rgb(0, 0, 0); background-color: aqua; border-radius: 6px; border: 2px solid #0016b0;">Volver</button> -->
    <button (click)="Juegodos2()" style="text-decoration:none; padding: auto; font-weight: 600; font-size: 50px; color: rgb(0, 0, 0); background-color: aqua; border-radius: 6px; border: 2px solid #0016b0;">Avanzar</button>
</body>
